.footer {
    height: 90px;
    background-color:  #444B58;
    margin-top: 0;
    /* position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; */

}
.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 23px 130px;
}
.footer__link {
    width: 164px;
    height: 44px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}

.footer__nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer__navLink {
    display: block;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  .footer__navLink:hover {
    color: #C4C4C4;
    border-bottom: 1px solid #C4C4C4;;
  }
  