@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Jost-Regular.woff") format("woff"),
    url("./Jost-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Jost-SemiBold.woff") format("woff"),
    url("./Jost-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Jost-Bold.woff") format("woff"),
    url("./Jost-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./Jost-ExtraBold.woff") format("woff"),
    url("./Jost-ExtraBold.woff2") format("woff2");
}
